[client]
host='localhost'
database='pbdb'
user='jpjenk'
password='paleodb'

[environment]
storage=/data/catalog
dataservice=http://localhost:3000
base=https://training.paleobiodb.org
email=jpjenk@icloud.com
